
.title-center {
  text-align: center;
  width: 100%;
}

.select-filter{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}