<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="title-center">TaskMaster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="select-filter">
    <h1>Mis Tareas</h1>
    <app-category-filter
  [placeholder]="'Filtrar categoría'"
  [categories]="categoriesForFilter"
  (selectedChange)="filterCategory($event)"
></app-category-filter>
  </div>
  

  <app-task-card
  *ngFor="let task of tasks"
  [title]="task.title"
  [subtitle]="getCategoryName(task.categoryId)"
  [content]="task.description"
  [showToggle]="true"
  [completed]="task.completed"
  (toggleChange)="onTaskToggle(task, $event)"
  action1Label="Editar"
  action2Label="Eliminar"
  (action1)="editTask(task)"
  (action2)="deleteTask(task.id)">
</app-task-card>

  <!-- FAB inferior derecho -->
  <ion-fab #fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon [icon]="addIcon"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="start">
    
      
      <ion-button (click)="goToCreateCategory(); fab.close()"  color="dark" shape="round">Categoria
        <ion-icon slot="end" [icon]="pricetagOutlineIcon"></ion-icon>
      </ion-button>
     
      <ion-button (click)="openNewTaskModal(); fab.close()" color="dark" shape="round">Tarea
        <ion-icon slot="end" [icon]="clipboardOutlineIcon"></ion-icon>
      </ion-button>
    

  </ion-fab-list>
</ion-fab>
<ion-button id="open-alert" style="display: none;"></ion-button>
<ion-alert
  trigger="open-alert"
  header="Atención"
  message="Debes crear al menos una categoría antes de crear una tarea."
  [buttons]="['OK']"
></ion-alert>

<ion-button id="delete-alert" style="display: none;"></ion-button>

<ion-alert
  trigger="delete-alert"
  header="Eliminar tarea"
  message="¿Deseas eliminar esta tarea?"
  [buttons]="[
    {
      text: 'Conservar',
      role: 'cancel'
    },
    {
      text: 'OK',
      role: 'ok'
    }
  ]"
  (didDismiss)="onAlertClosed($event)">
</ion-alert>

</ion-content>


